body {
  background-color: #fff;
  color: #333;
  font: 1em / 1.4 Helvetica Neue, Helvetica, Arial, sans-serif;
  padding: 1em;
  margin: 0;
}

* {
  box-sizing: border-box;
}

div {
  display: flex;
  flex-flow: row wrap;
}
div > label {
  flex: 1 0 100%;
}
